<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>URLShort</title>
</head>
<body>

<header>
    <h1>URLShort</h1>
    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Contact</a>
    </nav>
</header>

<div class="container">
{#    <h2>Main Content</h2>#}
{#    <p>This is a simple webpage.</p>#}
    {% block content %}{% endblock %}
</div>

<footer>
    <p>Footer</p>
</footer>

</body>
</html>
