<table>
    <tr>
        <th>Item</th>
        <th></th>
        <th></th>
    </tr>

    {% for url in urls %}
    <tr>
        <td><a href="http://127.0.0.1:8000/{{ url.short_code }}">http://127.0.0.1:8000/{{ url.short_code }}</a> </td>
        <td><a href="{% url 'url' url.id %}">View</a></td>
        <td><a href="{% url 'url-update' url.id %}">Edit</a></td>
        <td><a href="{% url 'url-delete' url.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items in list</h3>
    {% endfor %}
</table>